/
The font for all headings should be Oswald.
The font for non-heading text should be Open Sans.
The font color should be DarkBlue.
The top and bottom margins should be 10 px.
The left and right margins should be 50 px.
The text width should be 950px.
The background color should be Ivory.
The logos should be inline with the text.
/
h1,h2{
    font
}
body{
    color:darkblue;
    font: sans;
    margin:10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
}
img{
    float: left;
    margin-right: 10px;

}