 /* General */
 /* taken by products-style.css from store1 WODs and modified by me */

 html {
  
    font-family: 'Raleway', sans-serif;
    background-color:white;
    font-size: 14px;
  }


  body {
    width: 100%;
    margin: 0 auto;
  }
  
  /* Typography */
  
